MONGODB_URI=mongodb://localhost:27017/storeys
PORT=5000
JWT_SECRET=supersecretkey_change_in_production
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@storeys.ae
ADMIN_PASSWORD=change_this_in_production
